.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
  align-items: center;
  background-color: whitesmoke;
}

.navbrand {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.brandimg {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.menubtn {
  display: none;
  position: absolute;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  top: 1rem;
  right: 1rem;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-style: none;
}

.menubtnimg {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.menubtnimg:hover {
  position: relative;
  bottom: 3px;
}

.menubtnimg:active {
  position: relative;
  bottom: 1px;
}

.navlinks {
  display: flex;
}

.navlinks ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navlinks ul li {
  padding: 1rem;
  list-style: none;
}

.navlinks ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  color: black;
  transition: all;
  transition-duration: 0.1s;
}

.navlinks ul li a:hover {
  position: relative;
  top: 3px;
  color: gray;
}

@media (max-width: 769px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
    text-align: start;
    align-items: start;
  }

  .navbrand {
    flex-direction: column;
  }

  .menubtn {
    display: flex;
  }

  .navlinks {
    display: none;
    width: 100%;
  }

  .navlinks ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .navlinks ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navlinks.acitve {
    display: flex;
  }
}
